body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #eef2f3;
}

header {
  background: #1e3c72;
  color: white;
  text-align: center;
  padding: 60px;
}

.about, .projects {
padding: 40px;
background: white;
margin: 20px;
border-radius: 8px;
}

.project-card {
  background: #1e3c72;
  color: white;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: center;
}

foooter {
  background: #1e3c72;
  color: white;
  text-align: center;
  padding: 20px;
  
}